# Build files
/build/
**/build/
*.apk
*.aar

# Local and OS-specific files
local.properties
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
*.iml

# Gradle caches
.gradle/
.caches/

# Dependency directories
node_modules/


